<!doctype html>

<html>

<head>
    <title>Lemonade Stand Deluxe</title>
    <!-- add css file -->
    <link rel="stylesheet" href="style.css">
    <!-- add js file --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://npmcdn.com/angular-ui-router@1.0.0-beta.3/release/angular-ui-router.min.js"></script>
    <script src="app.js"></script>

</head>

<body ng-app="LemonadeStandApp">
    <section ng-controller="SubmitController">
    <input type="text" ng-model="newStand" placeholder="Enter stand name">
    <button ng-click="submitName()">Go!</button>
    </section>
    <section>
        <ul>
            <li><a ui-sref="game-page">Main Page</a></li>
            <li><a ui-sref="hi-score">Hi Score</a></li>
        </ul>
        <ui-view></ui-view>

        
</body>

</html>